th,td{
    border: 2px rgb(196, 174, 174) solid;
    padding: 10px;
}
table{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    width: 500px;
    height: 75px;
    border-radius: 5px;
}
.container{
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    position: absolute;
    padding: 15px;
    width: 500px;
}
button{
    margin-top: 20px;
    border: none;
    background-color: rgb(185, 119, 185);
    border-radius: 10px;
}
button:hover{
    background-color: rgb(167, 167, 130);
}
