<div class="container">
    <h3>Details</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Salary</th>
                <th>Designation</th>    
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{fullname}}</td>
                <td>{{age}}</td>
                <td>{{salary}}</td>
                <td>{{post}}</td>
            </tr>
        </tbody>
    </table>
    <button  routerLink="">Back to home</button>
    
</div>
